body { padding-top: 70px;font-family:"微软雅黑"; }
.navbar {min-height: 70px;}
.logo {width: 150px;height: 42px;background: url(../img/logo.png) no-repeat;margin:13px 0;}
.nav > li > a{padding-top:24px;padding-bottom:24px;}
.badge{background:#ff0000;margin-right:6px;}
.navbar-toggle{margin-top:18px;}
.video-box {width: 100%;background: url(../img/video.jpg) no-repeat;background-size: cover;}
.mTB20{margin:20px 0;}
.footer{background:#333;text-align: center;color: #888;padding:20px 0;}
.tit-name {text-align: left;margin-top: 30px;padding: 10px 20px;color: #fff;border-radius: 5px 5px 0 0;background: rgba(0,0,0,.49);}
.tit-name h1{font-size: 1.2em;}
